[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchainhub = "*"
black = "*"
langchain-perplexity = "*"
langchain-openai = "*"
langchain-tavily = "*"
defusedxml = "*"

[dev-packages]

[requires]
python_version = "3.13"
